html {
	
	position: relative;

	right: -30%;
}
fieldset {
 font-size:18px;
  padding:10px;
  width:450px;
  line-height:1.8;
  border: 2px #af3333 solid;
}
body {
	
	background-color:hsla(120,60%,70%,0.3);
}
table, td {
 padding:5px;
 font-size:16px;
}
a{
 position: relative;
 right: -30%

}
h2 {
	position: relative;
	top: 6%;
}
h3 {
	position: relative;
	top: 5%;
}